/*  Styling */ 
    body{
        background-color: black;
       color: white;
     }
     h1{
       font-size: 4rem;
       text-align: center;
     }
     h2{
       font-size: 1.5rem;
       text-align: center;
       width: 50%;
     }
     div{
       align-items: center;
     }